@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dddh8k');
  src:  url('fonts/icomoon.eot?dddh8k#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?dddh8k') format('truetype'),
    url('fonts/icomoon.woff?dddh8k') format('woff'),
    url('fonts/icomoon.svg?dddh8k#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tag-h:before {
  content: "\e902";
  color: #979797;
}
.icon-tag-img:before {
  content: "\e903";
  color: #979797;
}
.icon-tag-p:before {
  content: "\e904";
  color: #979797;
}
.icon-left-right-block:before {
  content: "\e900";
  color: #979797;
}
.icon-block:before {
  content: "\e901";
  color: #979797;
}
